<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xmlns:jdbc="http://www.springframework.org/schema/jdbc"
   xmlns:tx="http://www.springframework.org/schema/tx"
   xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/jdbc
        http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd">

   <description>
      Persistence datasource.
   </description>

   <!-- Data source -->
   <bean id="dataSource" class="com.zaxxer.hikari.HikariDataSource">
      <property name="driverClassName" value="${jdbc.driver:org.h2.Driver}" />
      <property name="jdbcUrl" value="${jdbc.url}" />
      <property name="username" value="${jdbc.username}" />
      <property name="password" value="${jdbc.password}" />
   </bean>

   <!-- Transaction manager -->
   <!-- Required for rolling back and handling tests -->
   <bean id="transactionManager" class="org.springframework.jdbc.support.JdbcTransactionManager">
      <property name="dataSource" ref="dataSource" />
   </bean>

   <!-- Activates transactionality -->
   <tx:annotation-driven transaction-manager="transactionManager" />

</beans>